@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #1e1e32;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;     
}

.content {
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  background-color: #222147; 
  color: #d1d1f0; 
}

.content img{
    height: 100px;
    width: auto;
    border-radius: 100%;
}

.content .title{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    gap: 10px;
}

.title h3{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.title h4{
    font-size: 16px;
    color: #ff6ec7; 
}

.title p{
    padding-top: 15px;
    font-style: italic;
    color: #a3a3cc; 
}

.links{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links a{
    text-decoration: none;
    padding: 15px 0;
    font-weight: bold;
    background-color: #5c4d99;
    color: #ffffff; 
    margin: 5px 0;
    font-size: 14px;
    border-radius: 10px;
    transition: .3s ease;
    cursor: pointer;
}

.links a:hover{
    background-color: #ff6ec7; 
    color: #000000; 
}
